[user]
	name = Trần Minh Huy
	email = minhhuy9a3dt@gmail.com
[core]
	editor = vim
	autocrlf = false
	excludesfile = ~/.gitignore_global
[alias]
	amend = commit --amend -a --no-edit
	lgo = log --oneline
	lgg = log --oneline --graph --decorate
	br = branch
	st = status
	sw = switch
[credential]
    helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
[url "git@code.finan.cc:"]
	insteadOf = https://code.finan.cc/
